##### This file for the YADM dotfile manager configured in ~/.yadm.
# Do NOT DELETE

# Prevent YADM from commiting it's own git repo
.yadm/repo.git

# Don't track the yadm binary either, that could mess up
# a restore at some point.
.local/bin/yadm

# Secret directories
.gnupg
.ssh

# Directories with churn and temp files
.cache/*
!.cache/.gitkeep

# Get mangled by OS and applications
.profile
.bashrc
.bash_profile

## annoying cruft goes here
.sudo_as_admin_successful
.Xauthority
.local/share/xorg
# gtk stuff
.config/dconf
.local/share/recently-used.xbel
# used by gnome-keyring chromium and others
.pki
.local/share/flatpak
snap


# PHP Composer
.config/composer
.local/bin/composer
.local/share/composer

# Visual Studio Code
.config/Code
.var